/* ESTILOS APP GENERALES */
* {
    font-family: 'Caveat', cursive;
    font-family: 'Mali', cursive;
    font-family: 'Pangolin', cursive;
}



/* ESTILOS HOME */

.main-card-home {
    margin: 20px;
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 50px;
    background: rgb(254, 254, 254);
    background: linear-gradient(180deg, rgba(254, 254, 254, 1) 0%, rgba(231, 235, 255, 1) 92%);
}

.header-home {
    text-align: center;


}

.user-1 {
    width: 100%;
    background-color: #dce4ef;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;

}

.user-1:hover {
    border: 3px dotted #7bb5f0;
}

.user-1:focus {
    border: 25px #260808;
}



.user-section {
    padding: 15px 0px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    position: relative;
   
}


#cross-out-david {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    left: 40px;
    top: -25px;
    
}

#cross-out-aranza {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    left: 30px;
    top: -25px;
    
}

#cross-out-emma {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    left: 47px;
    top: -25px;
    
}


#password-section {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #dce4ef;
    border-radius: 20px;
    gap: 5px;
}


#password-section-aranza {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #dce4ef;
    border-radius: 20px;
    gap: 5px;
}

#password-section-emma {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #dce4ef;
    border-radius: 20px;
    gap: 5px;
}

#pwd {
    height: 25px;
}


#password-error {
    width: 100%;
    height: 30px;
    line-height: 0px;
    text-align: center;
    background-color: rgb(233, 122, 122);
    display: none;
}

#password-error-aranza {
    width: 100%;
    height: 30px;
    line-height: 0px;
    text-align: center;
    background-color: rgb(233, 122, 122);
    display: none;
}

#password-error-emma {
    width: 100%;
    height: 30px;
    line-height: 0px;
    text-align: center;
    background-color: rgb(233, 122, 122);
    display: none;
}


.bttn-enter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;

}

.bttn-green-small {
    font-family: 'Pangolin';
    font-weight: 400;
    font-size: 20px;
    background-color: initial;
    background-image: linear-gradient(-180deg, #84da5d, #60c22d);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 110px;
    pointer-events: auto;
    text-align: center;
    touch-action: manipulation;

    white-space: nowrap;
    width: auto;

    border: 10px;
    transition: box-shadow .2s;
}

.bttn-green-small:hover {
    box-shadow: rgba(3, 80, 0, 0.5) 0 3px 8px;
}








/* ESTILOS PANTALLA PRINCIPAL */

body {
    background: rgb(255, 163, 54);
    background: linear-gradient(linear, rgba(255, 163, 54, 1) 0%, rgba(247, 194, 28, 1) 92%);
}


/* ESTILOS DE HEADER PANTALLA PRINCIPAL */

.main-card {
    margin: 20px;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 50px;
    background: rgb(254, 254, 254);
    background: linear-gradient(180deg, rgba(254, 254, 254, 1) 0%, rgba(231, 235, 255, 1) 92%);
}

header {

    margin: 5px 0 30px 0;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 17px;

}

.bienvenido {
    display: flex;
    align-items: center;
    gap: 15px;
}




/* ESTILOS UPPER SCREEN PANTALLA PRINCIPAL */

.upper-screen {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;


}

.buttons-upper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;

}


.display-screen {
    background-color: rgb(179, 198, 184);
    margin-top: 10px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}


#display-numbers {
    display: flex;
    visibility: hidden;
}

#display-numbers h1 {
    font-size: 10vh;
    font-family: 'Mali';
}




/* BOTONES GENERALES */

.bttn-green {
    font-family: 'Pangolin';
    font-weight: 500;
    font-size: 20px;
    background-color: initial;
    background-image: linear-gradient(-180deg, #84da5d, #60c22d);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    text-align: center;
    touch-action: manipulation;

    vertical-align: top;
    white-space: nowrap;
    width: auto;

    border: 10px;
    transition: box-shadow .2s;
}

.bttn-green:hover {
    box-shadow: rgba(3, 80, 0, 0.5) 0 3px 8px;
}




.bttn-blue {
    font-family: 'Pangolin';
    font-weight: 500;
    font-size: 20px;
    background-color: initial;
    background-image: linear-gradient(-180deg, #30befc, #04b2f7);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    text-align: center;
    touch-action: manipulation;

    vertical-align: top;
    white-space: nowrap;
    width: auto;

    border: 10px;
    transition: box-shadow .2s;
}

.bttn-blue:hover {
    box-shadow: rgba(16, 0, 80, 0.5) 0 3px 8px;
}


.bttn-red {
    font-family: 'Pangolin';
    font-weight: 500;
    font-size: 20px;
    background-color: initial;
    background-image: linear-gradient(-180deg, #d77159, #c44d28);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    text-align: center;
    touch-action: manipulation;

    vertical-align: top;
    white-space: nowrap;
    width: auto;

    border: 10px;
    transition: box-shadow .2s;
}


.bttn-red:hover {
    box-shadow: rgba(16, 0, 80, 0.5) 0 3px 8px;
}



.bttn-close-sesion {
    text-decoration: none;
    text-align: center;


}


/* ESTILOS OPERATIONS SCREEN */


#error-max{
    background-color: #ff7171;
    padding-top: 1px;
    border-radius: 20px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    display: none;
}

#error-min{
    background-color: #ff7171;
    padding-top: 1px;
    border-radius: 20px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    display: none;
}


.bottom-screen {

    width: 90%;
    margin: auto;
    margin-bottom: 40px;

}

.add-money {

    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;

}

#new-quantity {

    width: 50%;
    height: 60px;
    text-align: center;
    font-size: 4vh;
    border: 3px dashed #000000;

}

.buttons-bottom {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;


}